$main_color: #2d56ff;


  .custom-alert {
    padding: 15px;
    background-color: #4CAF50; 
    color: white;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 16px;
  }

  .custom-alert p {
    margin: 0;
  }
